* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    font-weight: bold;
    height: 2000px;
}

.bold{
    font-weight: 
}


.justify{
    text-align: justify;
}
/* Generales*/
.row .pd{
    padding: 0rem;
}
.mg{
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.mg-left{
    margin-left: 2rem;
}
.mg-top{
    margin-top: 1rem;
}
/* vistas*/
img[alt="logo"]{
    height: 40px;
    margin-top: 0.5rem;
}
.background{
    background-image: url(../assets/img/background1.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   /* width: 100vw;*/
    height: 180px;
    text-align: justify;
}

.background h6{
    margin-top: 2rem;
}
nav .brand-logo, nav ul a{
    color: black;
}

.img-profile{
    width: 100%;
    height: 100px;
    border-radius: 50%;
    
}

.margin-btn{
    margin-top: 2rem;
}

.ml{
    margin-left: 1rem;
}

mb{
    margin-bottom: 5rem;
}

.gmd-btn{
    margin-top: 1rem;
}
#form .input-field input[type=text]:focus {
    border-bottom: 1px solid #1a237e !important;
    /*-webkit-box-shadow: 0 1px 0 0 #1a237e !important;
    -moz-box-shadow: 0 1px 0 0 #1a237e !important;*/

    box-shadow: 0 1px 0 0  #1a237e ;
  }
  #form .input-field input[type=text]:focus + label {
    color:  #1a237e;
  }
.search:focus{
    border-bottom: 1px solid #1a237e !important;
    -webkit-box-shadow: 0 1px 0 0 #1a237e !important;
    -moz-box-shadow: 0 1px 0 0 #1a237e !important;
}

.gmail{
    padding-bottom: 4rem;
    /*text-transform: lowercase;*/
    line-height: 23px;
    text-transform: none;
    text-align: inherit;
}
/*profile*/
.padding{
    padding: 7px;
}
.img{
    width: 100%;
    height: 100px;
    border-radius: 50%;
    margin-top: 1rem;
}

.input-field .prefix ~ input{
    margin-top: 1rem;
}
/*
.backg{
    background-image: url(../assets/img/back.PNG);
    background-repeat: no-repeat;
    background-size: 100% 60px ; 
    height: 800px;
}
*/
img[alt="back"]{
    width: 100%;
    height: 60px;
}
/**/
.btn-post{
    margin-bottom: 2rem;
}
.line{
    outline: 1px solid #ebeef5;
    
}
.line .row .col.s5{
    height: 100vh;
}
@media (min-width: 992px){
    .background{
        height: 60vh;
    }
    .background h6{
        font-size: 2rem;
        margin-top:3rem;
    }
    .img-profile{
        height: 200px;
        margin-top: 1rem;
    }
    .background h5{
        font-size: 2rem;
        
    }
    .margin-btn{
        
        margin-right: 2rem;

    }
    .gmail{
        line-height: 50px;
       
    }
    .phrase{
        font-size: 20px;
    }
    /* profile*/
    .img{
        width: 10vw;
        height: 130px;
        border-radius: 50%;
        margin-left: 3rem;
    }
    .backg{
        background-repeat: no-repeat;
        background-size: 100% 100%; 
        height: 100px;
    }
    
}