* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    
}
body{
    font-weight: bold;
}

.bold{
    font-weight: 
}


.justify{
    text-align: justify;
}
/* Generales*/
.row .pd{
    padding: 0rem;
}
.mg{
    margin-top: 0rem;
}
.mg-top{
    margin-top: 1rem;
}
/* vistas*/
img[alt="logo"]{
    height: 40px;
    margin-top: 0.5rem;
}
.background{
    background-image: url(../assets/img/background1.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   /* width: 100vw;*/
    height: 180px;
    text-align: justify;
}

.background h6{
    margin-top: 2rem;
}
nav .brand-logo, nav ul a{
    color: black;
}

.img-profile{
    width: 100%;
    height: 100px;
    border-radius: 50%;
    
}

.margin-btn{
    margin-top: 2rem;
}

.ml{
    margin-left: 1rem;
}

mb{
    margin-bottom: 5rem;
}

.gmd-btn{
    margin-top: 1rem;
}
.search:focus{
    border-bottom: 1px solid #1a237e !important;
    -webkit-box-shadow: 0 1px 0 0 #1a237e !important;
    -moz-box-shadow: 0 1px 0 0 #1a237e !important;
}

.gmail{
    padding-bottom: 4rem;
    /*text-transform: lowercase;*/
    line-height: 23px;
    text-transform: none;
    text-align: inherit;
}
.btn-post{
    margin-bottom: 2rem;
}
.line{
    outline: 1px solid red;
}
@media (min-width: 992px){
    .background{
        height: 60vh;
    }
    .margin-btn{
        
        margin-right: 2rem;

    }
    .gmail{
        line-height: 50px;
       
    }
}