* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
/* vista splash*/
.splash{
    /*background: radial-gradient(circle,#530060);*/
    background-color: rgb(0,93,180);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left:0;
   
}
nav .brand-logo, nav ul a{
    color: black;
}

.img-profile{
    width: 30%;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
}