<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seleccion-gmd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--enlazando tipografía-->
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <!--iconos-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--enlazando css de materialize-->
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css"/>
</head>
<body>
  <!--navbar-->
  <nav class="white">
    <div class="nav-wrapper">
      <a href="../index.html" class="brand-logo"><img src="../assets/img/logo5.PNG" alt="logo" class=""></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="mobile.html" class=" indigo-text text-darken-4">Plataforma de talento humano</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
      <li><a href="mobile.html" class=" indigo-text text-darken-4">Plataforma de talento humano</a></li>
  </ul>
  <section>
    <div class="row background">
      <div class="col s7   valign-wrapper">
        <h6 class="white-text mg-top">"Este mundo no es sino un lienzo para nuestra imaginacion"</h6>
      </div>
      <div class="col s4 offset-s1  m2 offset-m2"  id="root">
      </div>
    </div>
  </section>
  <!--bienvenida-->
  <section>
    <div class="container">
      <div class="row ">
        <div class="col s3 m4">
          <span class="indigo darken-4 white-text padding">Fase 1</span>
        </div>
        <div class="col s9 m8">
          <span class="center-align mg phrase">Queremos empezar a conocerte un poco más, detalla tu cv</span>
        </div>
      </div>
    </div>
  </section>
  <!--formularios-->
  <section class="">
    <div class="container ">
      <div class="row ">
          <form id="contacto" class="col s12 ">
            <div class="row line">
              <div class="col s5 m4 indigo darken-4 white-text">
                  <div id="profile">
                  </div>
                  <div class="row">
                      <div class=" col s12">
                        
                          <label for="first_name" class="">DNI</label>
                          <input  name="dni" id="first_name" type="text" class="validate">
          
                         <!-- <label for="dni" class="validate">First Name</label>
                         
                        <input name="edad" id="dni" type="text" placeholder="dni">-->
                        <!--<label for="dni">dni</label>-->
                      </div>
                      <div class=" col s12 ">
                          <label for="first_name" class="">Celular</label>
                          <!--<span>Celular</span>-->
                           <!-- <label for="nombre">Centro de estudios</label>-->
                         <input type="text" id="nombre" name="celular" />
                          
                        </div>
                    </div>
              </div>
              <div class="col s7 pd  ">
                  <img src="../assets/img/back.PNG" alt="back" class="">
                  <div class="row ">
                    <div class="col s12">
                      <p>Estudios</p>
                    </div>
                    <div class="col s12 m6">
                        <label for="univ" class="">Universidad</label>
                        <input  name="dni" id="univ" type="text" class="validate">
                    </div>
                    <div class=" col s12 m6">
                        <label for="city" class="">Ciudad</label>
                        <!--<span>Celular</span>-->
                         <!-- <label for="nombre">Centro de estudios</label>-->
                       <input type="text" id="city" name="celular" />
                        
                      </div>
                      <div class=" col s12 ">
                          <label for="career" class="">Carrera</label>
                          <!--<span>Celular</span>-->
                           <!-- <label for="nombre">Centro de estudios</label>-->
                         <input type="text" id="career" name="celular" />
                      </div>
                  </div>
                  <!--otras capacitaciones-->
                  <div class="row ">
                      <div class="col s12">
                        <p>Otras capacitaciones</p>
                      </div>
                      <div class="col s12 m6">
                          <label for="first_name" class="">Insitución</label>
                          <input  name="dni" id="first_name" type="text" class="validate">
                      </div>
                      <div class=" col s12 m6">
                          <label for="first_name" class="">Ciudad</label>
                          <!--<span>Celular</span>-->
                           <!-- <label for="nombre">Centro de estudios</label>-->
                         <input type="text" id="nombre" name="celular" />
                          
                        </div>
                        <div class=" col s12 ">
                            <label for="first_name" class="">Capacitación</label>
                            <!--<span>Celular</span>-->
                             <!-- <label for="nombre">Centro de estudios</label>-->
                           <input type="text" id="nombre" name="celular" />
                        </div>
                    </div>
                    <!--experiencia-->
                    <div class="row ">
                        <div class="col s12">
                          <p>Experiencia</p>
                        </div>
                        <div class="col s12 m6">
                            <label for="empresa" class="">Empresa</label>
                            <input  name="empresa" id="empresa" type="text" class="validate">
                        </div>
                        <div class=" col s12 m6">
                            <label for="ciudad" class="">Ciudad</label>
                            
                           <input type="text" id="ciudad" name="celular" />
                            
                          </div>
                          <div class=" col s12 ">
                              <label for="resum" class="">Resumen</label>
                             <input type="text" id="resum" name="celular" />
                          </div>
                      </div>
                      <!--habilidades-->
                      <div class="row ">
                          <div class="col s12">
                              <p>Habilidades</p>
                            </div>
                          <div class="col s12 m6">
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>Trabajo en equipo</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>Resilencia</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>Organización</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>Creatividad e innovación</span>
                              </label>
                            </p>
                          </div>
                          <div class="col s12 m6">
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>Trabajo en equipo</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>Resilencia</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>Organización</span>
                              </label>
                            </p>
                            <p>
                              <label>
                                <input type="checkbox" />
                                <span>Creatividad e innovación</span>
                              </label>
                            </p>
                          </div>
                        </div>
              </div>
              
              
            </div>
            <div class="row">
              <div class="col s6 offset-s3">

                  <button  id="enviar" class="btn waves-effect waves-light indigo darken-4" >Submit
                      <i class="material-icons right">send</i>
                    </button>
              </div>
            </div>


             
      

          </form>
       <!-- <div class="col s5 m4 indigo darken-4 white-text">
          <div id="profile">
          </div>
          <form id="myForm" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input name="edad" id="dni" type="text" >
                <label for="dni">dni</label>
              </div>
              <div class="input-field col s12">
                <input id="celular"  type="tel" class="validate">
                <label for="celular">celular</label>
              </div>
            </div>
               
          
          </form>
        </div>
          <div class="col s7 pd">
              <img src="../assets/img/back.PNG" alt="back" class="">
              <form id="myForm" class="col s12">
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <span>centro de estudios</span>-->
                       <!-- <label for="nombre">Centro de estudios</label>-->
                    <!-- <input type="text" id="nombre" name="nombre" />
                      
                    </div>
                    <div class="input-field col s12 m6">
                      <span>ciudad</span>
                      <input type="text" id="nombre"  />
                     <label for="edad">ciudad</label>-->
                  <!--  </div>
                  </div>
                  
                  <button  id="enviar" class="btn waves-effect waves-light"  >Submit
                    <i class="material-icons right">send</i>
                  </button>
                </form>

          </div>-->

         
          <!--formulario para datos personales-->
         <!-- <form class="mg-top" id="personal-date">
            <div class="input-field  mg">
              <i class="material-icons prefix">mode_edit</i>
              <label for="dni label-mg">dni</label>
              <input type="text" id="dni" name="dni">
            </div>
            <div class="input-field  mg">
              <i class="material-icons prefix">mode_edit</i>
              <label for="phone label-mg">celular</label>
              <input type="text" id="phone" >
            </div>
            <div class="input-field mg">
              <i class="material-icons prefix">mode_edit</i>
              <label for="date">fecha-nac</label>
              <input type="text" id="date" >
            </div>
          </form>
        </div>
        <div class="col s7 m8 backg pd">
          <img src="../assets/img/back.PNG" alt="back" class="">
          <p class="mg-left">Estudios</p>
          
          <form id="formulario" class="col s12 " >
            <div class="row ">
              <div class="input-field col s12 m6">
                <input id="last_n" type="text" class="validate">
                <label for="last_n">Centro de estudios</label>
              </div>
              <div class="input-field col s12 m6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Ciudad</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="text" class="validate">
                <label for="password">Carrera</label>
              </div>
            </div>
          
            <p class="mg-left">Experiencia</p>
            <div class="row ">
              <div class="input-field col s12 m6">
                <input id="inst" type="text" class="validate">
                <label for="instit">Insitución </label>
              </div>
              <div class="input-field col s12 m6">
                <input id="ciudad" type="text" class="validate">
                <label for="ciudad">Ciudad</label>
              </div>
              <div class="input-field col s12">
                <input id="capac" type="text" class="validate">
                <label for="capac">Capacitación</label>
              </div>
            </div>
           
            <p class="mg-left">Competencias</p>
            <div class="row ">
              <div class="col s12 m6">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Trabajo en equipo</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Resilencia</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Organización</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Creatividad e innovación</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m6">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Trabajo en equipo</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Resilencia</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Organización</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Creatividad e innovación</span>
                  </label>
                </p>
              </div>
            </div>
            <button id="enviar" class="btn waves-effect waves-light" type="submit" disabled >Submit
                <i class="material-icons right">send</i>
              </button>
                    
          </form>-->
        </div>
      </div>
    </div>
   
  </section>
         
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/perfil.js"></script>

    
</body>
</html>