<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seleccion-gmd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--enlazando tipografía-->
    <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
    <!--iconos-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--enlazando css de materialize-->
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css"/>
</head>
<body>
  <!--navbar-->
  <nav class="white">
    <div class="nav-wrapper">
      <a href="../index.html" class="brand-logo"><img src="../assets/img/logo5.PNG" alt="logo" class=""></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="mobile.html" class=" indigo-text text-darken-4">Plataforma de talento humano</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
      <li><a href="mobile.html" class=" indigo-text text-darken-4">Plataforma de talento humano</a></li>
  </ul>
  <section>
    <div class="row background">
      <div class="col s7   valign-wrapper">
        <h6 class="white-text mg-top">"Este mundo no es sino un lienzo para nuestra imaginacion"</h6>
      </div>
      <div class="col s4 offset-s1  m2 offset-m2"  id="root">
      </div>
    </div>
  </section>
  <section>
    <div class="row ">
      <div class="col s3 m4">
        <span class="indigo darken-4 white-text padding">Fase 1</span>
      </div>
      <div class="col s9 m8">
        <span class="center-align mg phrase">Queremos empezar a conocerte un poco más, detalla tu cv</span>
      </div>
    </div>
    <div class="row">
      <div class="col s6 m4 indigo darken-4 white-text">
        <div id="profile">

        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <label for="autocomplete-input label-mg">dni</label>
            <input type="text" id="autocomplete-input" >
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <label for="autocomplete-input label-mg">celular</label>
            <input type="text" id="autocomplete-input" >
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <label for="autocomplete-input">fecha-nac</label>
            <input type="text" id="autocomplete-input" >
        </div>
      </div>
      <div class="col s6 m8">

      </div>
    </div>
  </section>
         

    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <!--enlazando la librería de materialize-->
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    
   
   

</body>
</html>